body{
background-image: url(https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-p-0037-euttp/oAfDInnA8aWA5wnAyR4YABiESTeIQPBbQk861D~tplv-photomode-zoomcover:720:720.jpeg?x-expires=1699376400&x-signature=xBlK6s1xEUlugLsyFaen3fz5Rqo%3D);
text-align: center;
}

button{
padding: 150px;
}